<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     <h1>Yeni sayfa</h1>

     <br>
     <hr>

     <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repudiandae veniam tenetur quasi beatae aliquam libero mollitia, voluptate et accusamus, adipisci enim, quo doloribus!
         Eius quas consequatur, provident nesciunt ratione quam.

     </p>

</body>
</html>